.splash-screen {
  z-index: 5;
  visibility: visible;

  inset: 0;
  width: 100%;
  position: relative;
  align-items: center;

  display: grid;
  overflow: hidden;
}

.splash-screen__border {
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  position: absolute;
  transform: translate(-50%, -50%);
  outline: 1rem double whitesmoke;
}

.splash-screen__hero {
  width: 100%;
  height: calc(75vh - 39px);

  display: grid;
  align-items: center;
  position: relative;
}

#hero-img {
  width: 100%;
  height: calc(75vh - 39px);
  justify-self: center;
}

.splash-screen__hero svg {
  position: relative;
  top: max(-6rem, -8vw);

  width: min(50vw, 40rem);
  height: auto;
}

.splash-screen__hero h1 {
  padding: 0 1rem;
  font-size: min(10vw, 80px);
  font-size: min(10vw, 40px);
  text-shadow: -0.5rem 0 black;

  color: lightblue;
  width: fit-content;
}

.splash-screen__hero h1:first-child {
  top: 3rem;
}
.splash-screen__hero h1:last-child {
  bottom: 2rem;
  border: 0.25rem solid whitesmoke;
  background-color: darkslateblue;
}

.hero__content {
  justify-self: center;

  padding: 1rem;
  margin-bottom: 10vh;
  position: relative;

  width: 100%;
  max-width: calc(var(--max-width) / 100 * 75);
  min-height: 25vh;

  display: grid;
  grid-template-columns: 0.6fr 0.4fr;

  scroll-margin-top: var(--scroll-offset);
  background-color: rgba(141, 13, 73, 0.4);

  transition: 0.6s;

  @media (max-width: 850px) {
    gap: 5rem;
    display: flex;
    flex-direction: column;

    div:first-child,
    div:last-child {
      min-height: calc(25vh - 1rem);
    }
  }

  p,
  a {
    color: lightblue;
  }

  p {
    text-align: left;
    padding: 0.2rem;
  }

  a:hover {
    text-decoration: underline;
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      color: white;
    }

    @media (max-width: 470px) {
      p {
        width: 83vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  &__contact {
    display: grid;
    align-items: flex-start;
    position: relative;
    overflow: hidden;

    > p {
      font-size: 2rem;
      padding-left: 1.8rem;
    }

    svg {
      fill: rgba(0, 0, 0, 0.24);
      top: 3.5rem;
      left: 1rem;
      width: 40%;
      height: auto;
      position: absolute;
    }

    ul {
      align-self: center;
      justify-self: flex-end;
    }

    li {
      gap: 1rem;
      display: flex;
    }

    li p:first-child {
      width: 6rem;
      text-align: right;
    }

    padding: var(--card-padding);
    border: var(--content-border);
    border-radius: var(--content-border-radius);
    background: linear-gradient(
      45deg,
      darkslategrey,
      rgb(38, 38, 78),
      darkslategrey
    );
  }
}
