:root {
  --content-padding: 1rem 2rem;
  --content-highlight: rgb(246, 248, 250);

  --content-border-radius: 0.5rem;
  --content-border: 0.1rem solid rgb(213, 216, 218);

  --text-highlight: rgb(9, 105, 218);
  --icon-margin-right: 1.5rem;
}

.repo__content {
  outline: var(--content-border);
  border-radius: var(--content-border-radius);

  margin: 2rem 0;

  color: black;
  background-color: white;

  li {
    display: flex;
    padding: var(--content-padding);
    border: var(--content-border);
  }

  li:first-child {
    background-color: var(--content-highlight);
  }

  li:hover {
    background-color: var(--content-highlight);
  }

  .repo__content__header {
    justify-content: space-between;
  }

  i.fa {
    font-size: 1.5rem;
    margin-right: var(--icon-margin-right);
  }
}

.repo-content__item {
  display: flex;

  div,
  p {
    width: calc(100% / 3);
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block; // https://stackoverflow.com/a/17783233
  }

  p {
    color: rgb(74, 121, 121);
    flex: auto;
    text-align: left;
  }
  p:last-child {
    text-align: right;
  }

  div p {
    color: black;
    text-align: left !important;
  }
}

.repo-item--hover:hover {
  color: var(--text-highlight);
  cursor: pointer;
  text-decoration: underline;
}

.code-view__history-btn {
  color: whitesmoke;

  i.fa {
    font-size: 2.3rem;
  }
}
.code-view__history-btn p {
  font-size: 2rem;
}
.code-view__history-btn:hover {
  color: rgb(170, 170, 255);
}

// commit message
.repo-item__commit-message {
  position: relative;
  visibility: visible;

  @media (max-width: 768px) {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

i.fa-folder {
  color: rgb(84, 174, 255);
}
.fa-file {
  color: darkgrey;
}

.repo-nav-btns {
  display: flex;
  gap: 1rem;

  button {
    font-size: 2rem;
  }
}

.nav-btn--black {
  cursor: pointer;
  color: black;
}

.nav-btn--grey {
  cursor: auto;
  color: darkgrey;
}

/*===============
  CodeView Aside
=================*/
.code-view__aside {
  z-index: 1;
  transform: translate(0, 0);
  transition: 0.3s;
  box-shadow: 0 0 0.5rem 0.2rem rgb(75, 57, 57);

  --commit-margin: 1.5rem;
  --commit-menu-bgColor: rgb(100, 81, 100);

  top: 0;
  right: 0;

  background-color: var(--commit-menu-bgColor);

  padding: 2rem;
  font-size: 1.4rem;

  li {
    margin: 0.5rem 0;
    padding-left: 2rem;
  }

  li:first-child {
    margin-bottom: var(--commit-margin);
  }
  li:last-child {
    margin-top: var(--commit-margin);
  }

  li {
    h4,
    p {
      width: 100%;
    }

    h4 {
      color: rgb(179, 214, 181) !important;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block; // https://stackoverflow.com/a/17783233
    }
    h4:hover {
      cursor: pointer;
      color: var(--text-highlight) !important;
      text-decoration: underline;
    }

    p {
      display: flex;
      align-items: center;
      position: relative;
    }

    p,
    i.fa {
      font-size: 1.2rem;
      color: lightblue !important;
    }

    i.fa {
      z-index: 1;
      padding-top: 0.23rem;
      height: 1.5rem;
      position: absolute;
      top: -0.15rem;
      left: -2.5rem;

      border-radius: 100%;
      background-color: var(--commit-menu-bgColor);
    }
  }

  ul {
    margin-top: 4rem;
  }

  .code-view__aside__content {
    position: relative;
    padding: 1rem;
    background-color: black;
  }
}

/*=============
  Commit Date
===============*/
.commit-stem {
  top: -2rem;
  left: -1.8rem;
  position: absolute;

  width: 0.1rem;
  height: 8.7rem;
  background-color: lightgrey;
}

.commit-start {
  margin-bottom: 1.5rem;
}
.commit-end {
  margin-top: 1.5rem;
}

.hide {
  transform: translate(100%, 0); // (100%, 0)
}
