@use "./Contents";
@use "./FileModal";

/*================
  Repository Dir
=================*/
.repo-folder {
  padding: 0 2rem;
  width: calc(100% + 17px);

  background: linear-gradient(
    45deg,
    rgb(47, 79, 79, 0.8),
    rgb(38, 38, 78, 0.8),
    rgb(47, 79, 79, 0.8)
  );

  transition: 1.3s;
  transform: translate(0, 100%);

  @media (max-width: 768px) {
    padding: 0 3.5rem 0 2rem;
  }
}

.show-folder {
  transform: translate(0, 0);
}
