/*=======
  Fonts
=========*/
@font-face {
  font-family: "Play";
  src: url("./fonts/Play-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Chakra Petch";
  src: url("./fonts/ChakraPetch-SemiBold.ttf") format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}
